layout {
  cwd "~"
  pane {
    tab name="main"
    tab name="gpt" cwd="notes" {
      pane {
        command "sgpt"
        args "--repl temp"
      }
    }
    tab name="code" cwd="c"
  }
  
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}
